@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "sfpro";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

.home-container {
  display: flex;
  flex-flow: column;
  gap: 1rem;
  margin-top: 3vh;
  width: 30%;
}

.circle-image {
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
}

.greeting {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: top;
  gap: 1rem;
  font-size: 1.3rem;
}

.image-cont{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.hi {
  display: flex;
  flex-direction: column;
  width: 21rem;
}

.about {
  display: flex;
  flex-direction: column;
  justify-items: top;
  align-items: left;
  text-align: left;
  margin-top: 3vh;
  color: white;
  gap: 1rem;
  max-height: 40vh;
  font-size: 1.3rem;
}

.exp {
  display: flex;
  flex-direction: column;
  justify-items: top;
  align-items: left;
  text-align: left;
  margin-top: 3vh;
  color: var(--main-color);
  gap: 1rem;
  font-size: 1.3rem;
}

.exp-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: top;
  gap: 1rem;
  font-size: 1.3rem;
}

.date {
  color: var(--ter-color);
  white-space: nowrap;
  display: flex;
  align-items: top;
  font-size: 1.2rem;
}

.content {
  color: var(--ter-color);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.content a {
  color: var(--main-color);
}

.education {
  display: flex;
  flex-direction: column;
  justify-items: top;
  align-items: left;
  text-align: left;
  margin-top: 3vh;
  color: var(--main-color);
  gap: 1rem;
  font-size: 1.3rem;
}

.education-1 {
  display: flex;
  flex-direction: row;
  align-items: top;
  gap: 1rem;
  font-size: 1.3rem;
}

.education-date {
  color: var(--ter-color);
  white-space: nowrap;
  display: flex;
  align-items: top;
  font-size: 1.2rem;
}

.education li {
  margin: 10px 0;
}

.courses {
  margin-top: 1rem;
}

.courses p {
  color: var(--main-color);
}

.courses li {
  margin-left: 3rem;
}

.projects {
  grid-area: links;
  display: flex;
  flex-direction: column;
  justify-items: top;
  align-items: left;
  text-align: left;
  margin-top: 3vh;
  color: var(--main-color);
  gap: 1rem;
  font-size: 1.3rem;
}

.proj {
  display: flex;
  flex-direction: row;
  align-items: top;
  gap: 6rem;
  font-size: 1.3rem;
}

.proj p {
  width: 30px;
}

@media screen and (max-width: 768px) {
  .home-container{
    width: 100%;
    margin: 0;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  .circle-image {
    width: 8rem;
    height: 8rem;
  }
  .exp-1{
    flex-direction: column;
  }
  .education-1 {
    flex-direction: column;
  }
  .education li {
    margin-left: 2rem;
  }
}