.nav {
    height: 7vh;
    padding: 2vh;
    background: black;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    font-size: 1.5rem;
    font-family: 'Inter', sans-serif;
}

@media screen and (max-width: 768px) {
    .nav {
        gap: 5rem;
        font-size: 1.5rem;
    }
}