.nav {
    height: 7vh;
    padding: 2vh;
    background: black;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.2rem;
    font-family: 'Inter', sans-serif;
}

.nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}